In [8]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [9]:
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [10]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [12]:
df = pd.DataFrame(randn(6,2), hier_index,["A", "B"])
df

             A         B
G1 1 -0.933480 -1.268104
   2 -0.496033  0.072996
   3 -0.442966  0.414051
G2 1  0.932771  0.876074
   2  0.700003 -0.182294
   3 -2.125561  1.943804

In [16]:
df.loc["G1"].loc[2].loc["B"]

np.float64(0.0729956071835678)

In [19]:
df.index.names = ["Groups", "Num"]
df

                   A         B
Groups Num
G1     1   -0.933480 -1.268104
       2   -0.496033  0.072996
       3   -0.442966  0.414051
G2     1    0.932771  0.876074
       2    0.700003 -0.182294
       3   -2.125561  1.943804

In [22]:
df.loc["G2"].loc[2]["A"]

np.float64(0.7000025545343119)

In [29]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.933480 -1.268104
G2      0.932771  0.876074