In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_path = "./week_1_2025.csv"
df = pd.read_csv(csv_path)
s = pd.Series([1, 2, np.nan, 4, 5])

In [3]:
df.iloc[1]

name                Daniel Jones (IND)
week                                 1
year                              2025
pass_yards                         272
pass_tds                             1
rush_attempts                        7
rush_yards                          26
rush_tds                             2
targets                              0
receptions                           0
receiving_yards                      0
receiving_tds                        0
fumbles                              0
interceptions                      0.0
fantasy_points                    29.5
game_played                          1
rostered_percent                58.50%
Name: 1, dtype: object

In [4]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [5]:
print(f"{df.loc[1:10]["name"]} -- {df.loc[0:10]["fantasy_points"]}")

1          Daniel Jones (IND)
2         Justin Fields (NYJ)
3         Lamar Jackson (BAL)
4        Justin Herbert (LAC)
5     Patrick Mahomes II (KC)
6         Aaron Rodgers (PIT)
7           Jalen Hurts (PHI)
8        Caleb Williams (CHI)
9     Michael Penix Jr. (ATL)
10        J.J. McCarthy (MIN)
Name: name, dtype: object -- 0     38.8
1     29.5
2     29.5
3     29.4
4     27.9
5     26.0
6     25.7
7     24.3
8     24.2
9     24.0
10    23.2
Name: fantasy_points, dtype: float64

In [46]:
df_qbs = df.loc[:11, ["name", "pass_yards", "pass_tds", "rush_attempts", "rush_yards", "rush_tds", "interceptions", "fantasy_points"]]
df_qbs.describe()

,pass_yards,pass_tds,rush_attempts,rush_yards,rush_tds,interceptions,fantasy_points
count,12.000000,12.00000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,240.250000,1.75000,7.166667,38.916667,1.083333,0.083333,27.091667
std,73.456388,1.13818,4.174236,20.615344,0.792961,0.288675,4.460220
min,143.000000,0.00000,1.000000,-1.000000,0.000000,0.000000,22.600000
25%,198.500000,1.00000,5.750000,25.750000,0.750000,0.000000,24.150000
50%,231.000000,1.50000,6.000000,35.500000,1.000000,0.000000,25.850000
75%,278.500000,2.25000,8.250000,57.250000,2.000000,0.000000,29.425000
max,394.000000,4.00000,14.000000,70.000000,2.000000,1.000000,38.800000

In [64]:
df_wrs = df[(df["targets"] > 10) & (df["rush_attempts"] < 5)]
df_wrs = df_wrs.loc[:, ["name", "receptions", "targets", "receiving_yards", "receiving_tds", "fantasy_points"]]
df_wrs

,name,receptions,targets,receiving_yards,receiving_tds,fantasy_points
330,Keon Coleman (BUF),8,11,112,1,21.2
333,Puka Nacua (LAR),10,11,130,0,18.1
339,Marquise Brown (KC),10,16,99,0,14.9
340,Jaxon Smith-Njigba (SEA),9,13,124,0,14.9
341,CeeDee Lamb (DAL),7,13,110,0,14.5
353,Malik Nabers (NYG),5,12,71,0,9.6
354,Drake London (ATL),8,15,55,0,9.5
358,Chris Olave (NO),7,13,54,0,8.9
655,Juwan Johnson (NO),8,11,76,0,11.6