In [2]:
import pandas as pd

In [3]:
sal = pd.read_csv("Salaries.csv")

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [8]:
sal["BasePay"].mean()

np.float64(66325.44884048769)

In [9]:
sal["OvertimePay"].max()

np.float64(245131.88)

In [13]:
joe = sal[sal["EmployeeName"] == "JOSEPH DRISCOLL"]
joe["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [15]:
joe["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [19]:
sal[sal["TotalPay"] == sal["TotalPay"].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [20]:
sal[sal["TotalPay"] == sal["TotalPay"].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [31]:
years = sal[(sal["Year"]>=2011) & (sal["Year"] <= 2014)]
years_df = years.groupby("Year")
years_df["BasePay"].mean("TotalPay")

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [34]:
sal["JobTitle"].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], shape=(2159,), dtype=object)

In [53]:
sal[sal["JobTitle"].str.contains('Chief')].count()

Id                  423
EmployeeName        423
JobTitle            423
BasePay             420
OvertimePay         423
OtherPay            423
Benefits            423
TotalPay            423
TotalPayBenefits    423
Year                423
Notes                 0
Agency              423
Status                0
dtype: int64

In [70]:
counts = sal[sal["Year"] == 2013]["JobTitle"].value_counts()
counts[counts == 1]

JobTitle
Mayor                          1
Adm, SFGH Medical Center       1
Controller                     1
Parking Hearing Examiner       1
Court Asst., Superior Court    1
                              ..
IS Technician Assistant        1
Chief, Fire Department         1
Braillist                      1
Victim & Witness Technician    1
Senior Assessment Clerk        1
Name: count, Length: 202, dtype: int64

In [73]:
common_jobs = sal["JobTitle"].value_counts()
common_jobs[:5]

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64